@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    align-items: right; 
    background-color: rgb(247, 247, 247);  
}

.container {
  margin-top: 20vh;
  width: 100vw;
  height: 20vw;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  padding-left: 5vw;
}

.containerin1 {
  display: flex;
  flex-direction: column;
}

.linemaidalo{
  display: flex;
  flex-direction: row;
  gap: 4vw;
  padding-top: 5vw;
  padding-left: 1vw;
  font-size: 2vw;
  font-family: 'Square Peg', cursive;
}

.linemaidalo a{
  text-decoration: none;
  color: black;
  animation: 2s anim-lineUp ease-out;
}

.linemaidalo a:hover{
  background-color: #ddd;
  color: black;
}

.main-picture {
  height: 20vw;
  width: 40vw;
  border-radius: 3vw;
  margin-right: 5vw;
}

.main-picture > img {
  width: 40vw;
  border-radius: 3vw;
}

.maintext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1em;
}

.helloo {
  font-family: "Fira Mono";
  color: grey;
  font-size: 2vw;
}

.name {
  font-family: "Lato";
  color: black;
  font-weight: 400;
  font-size: 5vw;
}

.devlabs {
  font-family: "Lato";
  font-weight: 300;
  color: black;
  font-size: 4vw;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 1000px){
  .container{
    flex-direction: column;
    padding-bottom: 5vw;
    align-items: center;
    padding-left: 1vw;
  }
  .main-picture {
    height: 20vw;
    width: 40vw;
    border-radius: 3px;
    margin-right: 5vw;
    padding-bottom: 19vh;
  }
  .helloo{
    font-size: 2.6vh;
  }
  .name{
    font-size: 5vh;
  }
  .devlabs{
    font-size: 4vh;
  }
  .linemaidalo{
    font-size: 2vh;
  }
}

.about {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.aboutme:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.aboutme:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

