@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-image: url();
}
.navbar{
    position: fixed;
    width: 100%;
    background-color:black;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}

.menu{
    list-style: none;
    display: flex;
    font-size: 3vh;
    justify-content: flex-end;
    gap: 2vw;
    padding-left: 40px;
    height: 5vh;
    padding-right: 40px;
    padding-top: 5px;
}
.menu a{
    color: aliceblue;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    font-size: 2.3vw;
    margin: 0 auto;
    padding: 100 0em;
}

.heading{
    font-family: 'Pacifico', cursive;
    color: black;
    font-weight: 200;
    text-align: center;
    font-size: 3vw;
    padding-bottom: .3vh;
}
.heading2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
    padding-top: 15vh;
    font-weight: 300;
    animation: 2s anim-lineUp ease-out ;
}

.myimage{
    float: left;
    padding-left: 3vw;
    padding-right: 4vw;
    width: 55vw;
}
.main-text{
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Satisfy', cursive; */
    font-family: 'Titillium Web', sans-serif;
    padding-right: 1vw;
}
.clubs{
    font-family: 'Titillium Web', sans-serif;
    padding-left: 2vw;
}
.about-section{
    font-size: 2vw;
    padding-left: 2vw;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
@media only screen and (max-width: 1000px){
    .container{
        flex-direction: column;
    }
    .myimage{
        width: 100vw;
        padding-bottom: 2vh;
    }
    .main-text{
        font-size: 3vh;
    }
    .heading{
        font-size: 4vh;
    }
    .heading2{
        padding-top: 10vh;
        font-size: 5vh;
    }
    .clubs{
        font-size: 2.7vh;
        padding-left: 5vw;
    }
}